DB_NAME=sige
DB_USER=sige
DB_PASSWORD=sige
DB_ROOT_PASSWORD=root

DEBUG=True
DJANGO_SECRET_KEY=django-insecure-development-only
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200
CSRF_TRUSTED_ORIGINS=http://localhost:4200

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin
CREATE_SUPERUSER=True
SEED_DATA=True

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
