<body>

    <div>
        <div>
            <button routerLink="/visualizar-empenhos"><i class="bi bi-arrow-left"></i> VISUALIZAR LISTAGEM DE
                EMPENHOS</button>
        </div>

        <div style="display: flex; gap: 1.5em; align-items: center;">
            <!-- style temporário, remover quando tiver classe apropriada -->
            <span style="font-size: 1.5em; color: rgb(50, 99, 204);">Nome do Fornecedor 1</span>
            <!-- alterando tamanho da fonte e cor temporariamente -->
            <span style="background-color: rgb(217, 217, 217); font-weight: bold;">EMP-XXX-XX</span>
            <!-- alterando cor, negrito temporariamente -->
            <span style="background-color: rgb(217, 217, 217); font-weight: bold; cursor: pointer;"
                (click)="enviarPara('/visualizar-ata')">ARP-XX-XXXX</span>
            <!-- alterando cor, negrito e cursor temporariamente -->
        </div>

        <div style="display: flex; gap: 9em;"> <!-- display e gap temporarios -->
            <div>

                <h5>Razão Social: Nome do Fornecedor 1</h5>
                <h5>CNPJ: XX.XXX.XXX/XXXX-XX</h5>
                <div style="display: flex; gap: 0.5em;"> <!-- display e gap temporarios -->
                    <!-- style temporário, remover quando tiver classe apropriada -->
                    <h5>Telefone: (XX) XXXXX-XXXX</h5>
                    |
                    <h5>Email: XXXXXX@gmail.com</h5>
                </div>

            </div>

            <div style="display: flex; gap: 5em;"> <!-- display e gap temporarios -->
                <div style="background-color: rgb(167, 198, 255);"> <!-- background temporário -->
                    <h4 style="color: rgb(0, 16, 189);">Valor Utilizado</h4> <!-- cor temporária -->
                    <h5>R$ 5.100,00</h5>
                </div>

                <div style="background-color: rgb(39, 140, 234);"> <!-- background temporário -->
                    <h4 style="color: white;">Valor Empenhado</h4> <!-- cor temporária -->
                    <h5 style="color: rgb(12, 221, 106);">R$ 40.100,00</h5> <!-- cor temporária -->
                </div>
            </div>
        </div>

        <div>
            <div style="display: flex; gap: 46.3em;"> <!-- display e gap temporarios -->
                <h3>Tabela de Itens</h3>
                <button #myInput style="color: white; background-color: rgb(0, 90, 174);" data-bs-toggle="modal"
                    data-bs-target="#entregaModal"><i class="bi bi-truck"></i> SOLICITAR
                    ENTREGA</button> <!-- background color e color temporarios -->
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="vertical-align: top;">Item</th>
                        <!-- Alinhamento vertical definido temporariamente -->
                        <th scope="col" style="vertical-align: top;">Valor Unitario</th>
                        <!-- Alinhamento vertical definido temporariamente -->
                        <th scope="col" style="vertical-align: top;">
                            <div>
                                <p style="margin: 0;">Quantidade em Ata</p> <!-- Margem definida temporariamente -->
                                <span style="font-size: 0.9em; margin: 0;">(Disponivel)</span>
                                <!-- Tamanho e margem definidos temporariamente -->
                            </div>
                        </th>
                        <th scope="col" style="vertical-align: top;">Quantidade Entregue</th>
                        <!-- Alinhamento vertical definido temporariamente -->
                        <th scope="col" style="vertical-align: top;">Categoria</th>
                        <!-- Alinhamento vertical definido temporariamente -->
                        <th scope="col" style="vertical-align: top;">Ações</th>
                        <!-- Alinhamento vertical definido temporariamente -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Exemplo 1 -->
                    <tr>
                        <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                        <td>
                            <span>Frango </span>
                            <span style="font-size: 0.7em;">(KG)</span>
                        </td>

                        <td>
                            <span>R$ 20,00</span>
                        </td>

                        <td>
                            <span>500 </span>
                            <span style="font-size: 0.7em;">KG</span>
                        </td>

                        <td>
                            <span>100 </span>
                            <span style="font-size: 0.7em;">KG</span>
                        </td>

                        <td>
                            Proteinas
                        </td>

                        <td>

                            <div style="display: flex; gap: 0.7em; font-size: 1.25em;">
                                <!-- display e gap temporarios -->
                                <button style="background-color: transparent; border: none; color: rgb(24, 162, 22);"><i
                                        class="bi bi-plus-circle"></i></button>
                                <!-- background, border e color temporarios -->
                                <button style="background-color: transparent; border: none; color: rgb(184, 0, 0);"><i
                                        class="bi bi-x-circle"></i></button>
                                <!-- background, border e color temporarios -->
                            </div>

                        </td>
                    </tr>

                    <!-- Exemplo 2 -->
                    <tr>
                        <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                        <td>
                            <span>Carne Bovina </span>
                            <span style="font-size: 0.7em;">(KG)</span>
                        </td>

                        <td>
                            <span>R$ 30,00</span>
                        </td>

                        <td>
                            <span>800 </span>
                            <span style="font-size: 0.7em;">KG</span>
                        </td>

                        <td>
                            <span>300 </span>
                            <span style="font-size: 0.7em;">KG</span>
                        </td>

                        <td>
                            Proteinas
                        </td>

                        <td>

                            <div style="display: flex; gap: 0.7em; font-size: 1.25em;">
                                <!-- display e gap temporarios -->
                                <button style="background-color: transparent; border: none; color: rgb(24, 162, 22);"><i
                                        class="bi bi-plus-circle"></i></button>
                                <!-- background, border e color temporarios -->
                                <button style="background-color: transparent; border: none; color: rgb(184, 0, 0);"><i
                                        class="bi bi-x-circle"></i></button>
                                <!-- background, border e color temporarios -->
                            </div>

                        </td>
                    </tr>
            </table>
        </div>

    </div>

    <!-- Modal -->
    <div #myModal class="modal fade" id="entregaModal" tabindex="-1" aria-labelledby="entregaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="entregaModalLabel">Entrega de Produtos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</body>