.cabecalho{
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: #0067BE;
  background: linear-gradient(90deg, rgba(0, 103, 190, 1) 0%, rgba(0, 48, 88, 0.95) 100%);
}
.logo{
  color: #ffffff;
}
.nav-botoes{
  background: var(--azul-escuro);
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
}
.lista-botoes{
  list-style: none;
  align-items: center;
  display: flex;
  gap: 30px;
}
.botao{
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  &:hover{
    color: var(--azul-claro);
    font-size: 15px;
    transition: ease-in-out 0.4s;
  }
}
.selecionado{
  background-color: var(--branco);
  color: var(--azul-escuro);
  font-size: 15px;
  transition: ease-in-out 0.4s;
  padding: 5px 10px;
  border-radius: 20px;
  &:hover{
    color: #000000;
  }
}
