<header class="cabecalho">
  <h1 class="logo">SIGE</h1>
  <div class="nav-botoes">
    <ul class="lista-botoes">
      <li><a routerLink="/adicionar-licitacao" class="botao selecionado">Adicionar licitação</a></li>
      <li><a  class="botao">Licitacoes</a></li>
      <li><a  class="botao">ARP´s</a></li>
      <li><a  class="botao">Empenhos</a></li>
      <li><a  class="botao">Entregas</a></li>
      <li><a  class="botao">Fornecedores</a></li>
      <li><a  class="botao">Gên. Alimentícios</a></li>
    </ul>
  </div>
</header>

