.container-pesquisar {
  background-color: var(--branco);
  width: 85vw;
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100px;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;

  input {
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--branco);
    border: var(--borda1);
    padding: 0 15px;
  }

  .filtro {
    margin-left: 30px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--branco);
    border: var(--borda1);
    font-size: 16px;
    font-weight: bold;

    i {
      font-size: 20px;
    }
  }

  .limpar:hover {
    background-color: #c71c1c;
    color: var(--branco);
  }
}


// Estilos específicos para quando estiver dentro do modal
:host-context(.modal-body) .container-pesquisar {
  width:  55vw;
  height: 60px;
  padding: 10px 15px;
  font-size: 13px;

  input {
    width: 200px;
    height: 35px;
    font-size: 13px;
  }

  .filtro {
    margin-left: 15px;
    width: 90px;
    height: 35px;
    font-size: 13px;

    i {
      font-size: 16px;
    }
  }
}