<div class="container-pesquisar">
  <div class="pesquisarEfiltrar">
    <label for="pesquisarLicitacao">Pesquisar:</label>
    <input type="text" , id="pesquisarLicitacao">
  </div>
  <div class="dropdown">
    <button class="filtro dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-funnel"></i> filtros</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item limpar" href="#">limpar filtros</a></li>
    </ul>
  </div>

</div>
