.container-pesquisar{
  background-color: var(--branco);
  width: 85vw;
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100px;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;

  input{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--branco);
    border: var(--borda1);
    padding: 0 15px;
  }
  .filtro {
    margin-left: 30px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--branco);
    border: var(--borda1);
    font-size: 16px;
    font-weight: bold;
    i{
      font-size: 20px;
    }
  }
  .limpar:hover{
    background-color: #c71c1c;
    color: var(--branco);
  }
}
