<body class="listagem">
    <div class="container-titulo">
        <h3>FORNECEDORES</h3>
        <hr>
    </div>
    <app-barra-pesquisa></app-barra-pesquisa>
    <!-- Tabela da licitações cadastradas no sistema -->

    <table class="tabela">
        <thead>
            <tr>
                <th scope="col">Nome Fantasia</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @for (item of fornecedores; track item.id) {
            <tr (click)="enviarPara('/visualizar-fornecedor', item.id)" style="cursor: pointer;">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <h5>{{ item.nome_fantasia }}</h5>
                </td>
                <td>{{ item.cnpj }}</td>
                <td>{{ item.telefone }}</td>
                <td>{{ item.email }}</td>
            </tr>
            }
        </tbody>
    </table>
</body>