<body class="listagem">
  <div class="container-titulo">
    <h3><i class="bi bi-clipboard2"></i> ATAS DE REGISTRO DE PREÇOS</h3>
    <hr />
  </div>

  <app-barra-pesquisa [filtros]="filtros"
  (pesquisar)="get($event)"
  (filtrosAlterados)="aplicarFiltros($event)">
  </app-barra-pesquisa>

  <table class="tabela">
    <thead>
      <tr>
        <th>Identificação</th>
        <th>Fornecedor</th>
        <th>Status</th>
        <th>Validade</th>
        <th>Valor Total</th>
      </tr>
    </thead>

    <tbody>
      @for (item of atas; track item.id) {
        <tr style="cursor: pointer" (click)="enviarPara('/visualizar-ata', item.id)">
          <td>
            <p>{{ item.numero_ata }}</p>
            <small>cadastrado: {{ item.licitacao.data_abertura }}</small>
          </td>

          <td>
            <p>{{ item.fornecedor.nome_fantasia }}</p>
            <small>{{ item.fornecedor.cnpj }}</small>
          </td>

          <td>
            <span [ngClass]="classValidade(item)">
              {{ verificarValidade(item) }}
            </span>
          </td>

          <td>
            <i class="bi bi-clock"></i>
            {{ item.licitacao.validade }} meses
          </td>

          <td>R$ {{ item.ata_saldo_total }}</td>
        </tr>
      }
    </tbody>
  </table>

  <app-paginacao class="paginacao-lista" [currentPage]="currentPage" [pageSize]="pageSize" [totalItems]="total"
    totalLabel="Total de registros" (pageChange)="irParaPagina($event)"></app-paginacao>
</body>
