<body>

    <h3>ATAS DE REGISTRO DE PREÇOS</h3>

    <app-barra-pesquisa></app-barra-pesquisa>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Identificação</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Status</th>
                <th scope="col">Validade</th>
                <th scope="col">Valor Total</th>
            </tr>
        </thead>
        <tbody>

            <!-- Exemplo 1 -->
            <tr style="cursor: pointer;">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <div>
                        <p>ARP-XXX-XXX</p>
                        <small>cadastrado: xx/xx/xxxxx</small>
                    </div>
                </td>
                <td>
                    <p>Nome do Fornecedor 1</p>
                    <small>xx.xxx.xxx/xxxx-xx</small>
                </td>
                <td><span class="badge bg-danger">Expirado</span></td>
                <td><i class="bi bi-clock"></i> 12 meses</td>
                <td>R$ 50.000,00</td>
            </tr>

            <!-- Exemplo 2 -->
            <tr style="cursor: pointer;">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <div>
                        <p>ARP-XXX-XXX</p>
                        <small>cadastrado: xx/xx/xxxxx</small>
                    </div>
                </td>
                <td>
                    <p>Nome do Fornecedor 2</p>
                    <small>xx.xxx.xxx/xxxx-xx</small>
                </td>
                <td><span class="badge bg-success">Vigente</span></td>
                <td><i class="bi bi-clock"></i> 12 meses</td>
                <td>R$ 35.500,00</td>
            </tr>

            <!-- Exemplo 3 -->
            <tr style="cursor: pointer;">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <div>
                        <p>ARP-XXX-XXX</p>
                        <small>cadastrado: xx/xx/xxxxx</small>
                    </div>
                </td>
                <td>
                    <p>Nome do Fornecedor 3</p>
                    <small>xx.xxx.xxx/xxxx-xx</small>
                </td>
                <td><span class="badge bg-success">Vigente</span></td>
                <td><i class="bi bi-clock"></i> 12 meses</td>
                <td>R$ 20.000,00</td>
            </tr>

            <!-- Exemplo 4 -->
            <tr style="cursor: pointer;">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <div>
                        <p>ARP-XXX-XXX</p>
                        <small>cadastrado: xx/xx/xxxxx</small>
                    </div>
                </td>
                <td>
                    <p>Nome do Fornecedor 4</p>
                    <small>xx.xxx.xxx/xxxx-xx</small>
                </td>
                <td><span class="badge bg-success">Vigente</span></td>
                <td><i class="bi bi-clock"></i> 12 meses</td>
                <td>R$ 10.000,00</td>
            </tr>
    </table>

</body>