<body>
  <div class="container-titulo">
    <h3>ADICIONAR LICITAÇÃO</h3>
    <hr>
  </div>

  <!-- informações gerais -->
  <section>
    <div class="subtitulo">
      <h5>1. INFORMAÇÕES GERAIS</h5>
      <hr>
    </div>
    <div class="conteudo">
      <div class="grupo-inputs">
        <div class="d-flex flex-column">
          <label>Número da Licitação</label>
          <input type="text">
        </div>

        <div class="d-flex flex-column">
          <label>Validade (em meses)</label>
          <input type="number">
        </div>
      </div>

      <div>
        <label>Descrição (opcional)</label>
        <textarea rows="5"></textarea>
      </div>
    </div>
  </section>

  <!-- inserção de fornecedor -->
  <section>
    <div class="subtitulo">
      <h5>2. INSERÇÃO DE FORNECEDOR</h5>
      <hr>
    </div>
    <div class="conteudo">
      <div class="d-flex grupo-inputs">
        <div class="d-flex flex-column w-75 ">
          <label>Nome Fantasia</label>
          <input type="text">
        </div>

        <div class="d-flex flex-column w-25">
          <label>CNPJ</label>
          <input type="text">
        </div>
      </div>

      <div class="d-flex grupo-inputs">
        <div class="d-flex flex-column w-75">
          <label>Rua</label>
          <input type="text">
        </div>

        <div class="d-flex flex-column  w-25">
          <label>Número</label>
          <input type="text">
        </div>

      </div>

      <div class="d-flex grupo-inputs ">
        <div class="d-flex flex-column w-50">
          <label>Bairro</label>
          <input type="text">
        </div>
        <div class="d-flex flex-column w-50">
          <label>Município</label>
          <input type="text">
        </div>

        <div class="d-flex flex-column w-50">
          <label>Estado</label>
          <input type="text">
        </div>
      </div>

      <div class="d-flex grupo-inputs">
        <div class="d-flex flex-column w-25">
          <label>Telefone</label>
          <input type="text">
        </div>
        <div class="d-flex flex-column w-75">
          <label>E-mail</label>
          <input type="email">
        </div>
      </div>
    </div>
  </section>
  <!-- ARP's -->
  <section>
    <div class="subtitulo">
      <h5>3. ATA DE REGISTRO DE PREÇO</h5>
      <hr>
    </div>

    <div class="numero-arp">
      <label>Número da ARP</label>
      <input type="text">
    </div>

    <!-- aidicionar itens à ARP -->
    <fieldset>
      <legend>Adicionar gênero alimentício</legend>
      <div class="inserir-itens">

        <div class="d-flex">
          <div class="d-flex flex-column ">
            <label>CATMAT</label>
            <input type="text">
          </div>

          <div class="d-flex flex-column ">
            <label>Qtd. Licitada</label>
            <input type="number">
          </div>

          <div class="d-flex flex-column ">
            <label>Valor Unitário (R$)</label>
            <input type="text">
          </div>
        </div>

        <div class="d-flex">
          <div class="d-flex flex-column ">
            <label>Marca</label>
            <input type="text">
          </div>

          <div class="d-flex flex-column ">
            <label>Categoria</label>
            <input type="text">
          </div>

          <div class="d-flex flex-column ">
            <label>Unidade de Medida</label>
            <select>
              <option></option>
            </select>
          </div>

        </div>
        <div class="d-flex">
          <div class="d-flex flex-column">
            <label>Descrição detalhada</label>
            <textarea rows="2"></textarea>
          </div>

          <div class="d-flex flex-column">
            <label>Valor Total</label>
            <input type="text">
          </div>
        </div>

        <button type="button">
          + ADICIONAR GÊNERO À ARP
        </button>
      </div>
    </fieldset>

    <table class="table">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Marca</th>
          <th>Quantidade</th>
          <th>Valor Unitário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Exemplo</td>
          <td>Marca X</td>
          <td>100</td>
          <td>R$ 10,00</td>
          <td>
            <button type="button">🗑</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

</body>
