<body>
  <div class="container-titulo">
    <h3>CRIAR LICITAÇÃO</h3>
    <hr>
  </div>

  <!-- informações gerais -->
  <section>
    <h5>1. INFORMAÇÕES GERAIS</h5>

    <div>
      <div>
        <label>Número da Licitação</label>
        <input type="text">
      </div>

      <div>
        <label>Validade (em meses)</label>
        <input type="number">
      </div>
    </div>

    <div>
      <label>Descrição (opcional)</label>
      <textarea rows="4"></textarea>
    </div>
  </section>

  <!-- inserção de fornecedor -->
  <section>
    <h5>2. INSERÇÃO DE FORNECEDOR</h5>

    <div>
      <div>
        <label>Nome Fantasia</label>
        <input type="text">
      </div>

      <div>
        <label>CNPJ</label>
        <input type="text">
      </div>
    </div>

    <div>
      <div>
        <label>Rua</label>
        <input type="text">
      </div>

      <div>
        <label>Número</label>
        <input type="text">
      </div>

      <div>
        <label>Bairro</label>
        <input type="text">
      </div>
    </div>

    <div>
      <div>
        <label>Município</label>
        <input type="text">
      </div>

      <div>
        <label>Estado</label>
        <input type="text">
      </div>

      <div>
        <label>Telefone</label>
        <input type="text">
      </div>
    </div>

    <div>
      <label>E-mail</label>
      <input type="email">
    </div>
  </section>

</body>
