form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container-titulo{
      margin-top: 30px;
      width: 80vw;
      display: flex;
      flex-direction: column;
      hr{
        color: var(--hr-color);
      }
    }
    section{
      display: flex;
      border-radius: 15px;
      padding: 20px 0;
      flex-direction: column;
      gap: 20px;
      width: 80vw;
      box-shadow: var(--box-shadow);
      margin-bottom: 30px;
      .subtitulo{
        width: 90%;
        align-self: center;
        color: var(--azul-claro);
      }
      .conteudo{
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        .grupo-inputs{
          display: flex;
          gap: 20px;
        }
        input{
          padding: 10px;
          border: var(--borda1);
          border-radius: 15px;
        }
        textarea{
          resize: none;
          width: 100%;
          border: var(--borda1);
          border-radius: 15px;
        }
      }
      .numero-arp{
        display: flex;
       align-items: center;
        gap: 10px;
        width: 85%;
        align-self: center;
       input{
          padding: 10px;
          border: var(--borda1);
          border-radius: 15px;
          width: 30%;
        }
      }
      fieldset{
        border: 1px dashed #000000;
        border-radius: 15px;
        align-self: center;
        padding: 20px;
        gap: 20px;
        width: 85%;
        legend{
          font-size: 18px;
          color: var(--azul-claro);
        }
        div.inserir-itens{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          margin-bottom: 20px;
          div{
            gap: 20px;
            width: 90%;
          }
        }
        input,select{
          padding: 10px;
          border: var(--borda1);
          border-radius: 15px;
        }
        textarea{
          resize: none;
          width: 100%;
          border: var(--borda1);
          border-radius: 15px;
        }
        button{
          align-self: center;
          padding: 10px 20px;
          border: none;
          background-color: var(--azul-escuro);
          color: var(--branco);
          border-radius: 15px;
          font-weight: bold;
        }
      }
      .vazia{
        display: none;
      }
      div.itens-adicionados{
        align-self: center;
        width: 60%;
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        padding-bottom: 20px;
        table{
          align-self: center;
          width: 100%;
          height: auto;
          tr{
            border-bottom: 1px solid var(--font-cinza);
            gap: 10px;
            th{
              padding: 15px 10px;
              text-align: center;
            }
            td{
              width: 20%;
              text-align: center;
              width: auto;
              padding: 12px 10px;

            }
            small {
              font-size: 12px;
            font-weight: normal;
            color: var(--font-cinza);
          }
            i{
              color: #f86d6d;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .listagem{
      div{
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        margin-bottom: 30px;
        .tabela{
          border-radius: 20px;
          width: 80vw;
          tbody{
            margin: 30px;
          }
        }
      }
    }
    .container-botoes{
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 50px;
      .botao{
        background-color: var(--azul-claro);
        color: #ffffff;
        width: 500px;
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
      }
    }
}
