<body>

  <div>
    <label for="pesquisarLicitacao">Pesquisar:</label>
    <input type="text" , id="pesquisarLicitacao">

    <button> <i class="bi bi-funnel"></i> filtros</button>

    <button> <i class="bi bi-download"></i> Exportar</button>
  </div>

  <!-- Tabela da licitações cadastradas no sistema -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Identificação</th>
        <th scope="col">Validade</th>
        <th scope="col">descricao</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div>
            <p>LIC-XXX-XXX</p>
            <small>cadastrada: xx/xx/xxxxx</small>
          </div>
        </td>
        <td><i class="bi bi-clock"></i> 12 meses</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
      </tr>
      <tr>
        <td>
          <div>
            <p>LIC-XXX-XXX</p>
            <small>cadastrada: xx/xx/xxxxx</small>
          </div>
        </td>
        <td><i class="bi bi-clock"></i> 12 meses</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
      </tr>
      <tr>
        <td>
          <div>
            <p>LIC-XXX-XXX</p>
            <small>cadastrada: xx/xx/xxxxx</small>
          </div>
        </td>
        <td><i class="bi bi-clock"></i> 12 meses</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
      </tr>
    </tbody>
  </table>

</body>