<body class="listagem">
  <div class="container-titulo">
    <h3>LICITAÇÕES</h3>
    <hr>
  </div>
  <app-barra-pesquisa></app-barra-pesquisa>
  <!-- Tabela da licitações cadastradas no sistema -->

  <table class="tabela">
    <thead>
      <tr>
        <th scope="col">Identificação</th>
        <th scope="col">Validade</th>
        <th scope="col">Descricao</th>
      </tr>
    </thead>
    <tbody>
      
      @for (item of registro; track item.id) {
        <tr (click)="enviarPara('/visualizar-licitacao', item.id)" style="cursor: pointer;">
          <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
          <td>
            <div>
              <p>LIC-{{item.numero_licitacao}}</p>
              <small>cadastrada: {{item.data_abertura}}</small>
            </div>
          </td>
          <td><i class="bi bi-clock"></i> {{item.validade}} Meses </td>
          <td>{{item.descricao}}</td>
        </tr>
      }

    </tbody>

  </table>
  

</body>