<body class="listagem">
  <div class="container-titulo">
    <h3><i class="bi bi-wallet"></i> EMPENHOS</h3>
    <hr>
  </div>
    <app-barra-pesquisa [filtros]="filtros"
  (pesquisar)="get($event)"
  (filtrosAlterados)="aplicarFiltros($event)"></app-barra-pesquisa>

    <table class="tabela">
        <thead>
            <tr>
                <th scope="col">Identificação</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Valor Utilizado</th>
                <th scope="col">Valor Empenhado</th>
            </tr>
        </thead>
        <tbody>

            @for (item of empenhos; track item.id) {
                <!-- Exemplo 1 -->
                <tr style="cursor: pointer;" (click)="enviarPara('visualizar-empenho', item.id)">

                    <td>
                        <span>{{ item.codigo }}</span>
                    </td>
                    <td>
                        <span>{{ item.ata.fornecedor.nome_fantasia }}</span>
                    </td>
                    <td>
                        <span> {{ item.saldo_utilizado }} </span>
                    </td>
                    <td>
                        <span> {{ item.valor_total}} </span>
                    </td>
                </tr>
            }

            @if(empenhos.length === 0) {
            <tr class="linha-vazia-tabela">
                <td colspan="4" class="mensagem-tabela-vazia">
                    Nenhum registro encontrado.
                    <small>Ajuste os filtros ou realize um novo cadastro para continuar.</small>
                </td>
            </tr>
            }

        </tbody>

    </table>

    <app-paginacao class="paginacao-lista" [currentPage]="currentPage" [pageSize]="pageSize" [totalItems]="total"
        totalLabel="Total de registros" (pageChange)="irParaPagina($event)"></app-paginacao>

</body>
