<body class="listagem">
  <div class="container-titulo">
    <h3>EMPENHOS</h3>
    <hr>
  </div>
    <app-barra-pesquisa></app-barra-pesquisa>

    <table class="tabela">
        <thead>
            <tr>
                <th scope="col">Identificação</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Valor Utilizado</th>
                <th scope="col">Valor Empenhado</th>
            </tr>
        </thead>
        <tbody>

            @for (item of empenhos; track item.id) {
                <!-- Exemplo 1 -->
                <tr style="cursor: pointer;" (click)="enviarPara('visualizar-empenho', item.id)">
                    
                    <td>
                        <span>{{ item.codigo }}</span>
                    </td>
                    <td>
                        <span>{{ item.ata.fornecedor.nome_fantasia }}</span>
                    </td>
                    <td>
                        <span> {{ item.saldo_utilizado }} </span>
                    </td>
                    <td>
                        <span> {{ item.valor_total}} </span>
                    </td>
                </tr>
            }

    </table>

</body>
