<body class="listagem">
  <div class="container-titulo">
    <h3>EMPENHOS</h3>
    <hr>
  </div>
    <app-barra-pesquisa></app-barra-pesquisa>

    <table class="tabela">
        <thead>
            <tr>
                <th scope="col">Identificação</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Gêneros Alimenticios</th>
                <th scope="col">Valor Utilizado</th>
                <th scope="col">Valor Empenhado</th>
            </tr>
        </thead>
        <tbody>

            <!-- Exemplo 1 -->
            <tr style="cursor: pointer;" (click)="enviarPara('visualizar-empenho')">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <span>EMP-XXX-XX</span>
                </td>
                <td>
                    <span>Nome Fornecedor 1</span>
                </td>
                <td>
                    <span>10</span>
                </td>
                <td>
                    <span>R$ 5.100,00</span>
                </td>
                <td>
                    <span>R$ 40.100,00</span>
                </td>
            </tr>

            <!-- Exemplo 2 -->
            <tr style="cursor: pointer;" (click)="enviarPara('visualizar-empenho')">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <span>EMP-XXX-XX</span>
                </td>
                <td>
                    <span>Nome Fornecedor 2</span>
                </td>
                <td>
                    <span>1</span>
                </td>
                <td>
                    <span>R$ 1.000,00</span>
                </td>
                <td>
                    <span>R$ 3.330,00</span>
                </td>
            </tr>


            <!-- Exemplo 3 -->
            <tr style="cursor: pointer;" (click)="enviarPara('visualizar-empenho')">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <span>EMP-XXX-XX</span>
                </td>
                <td>
                    <span>Nome Fornecedor 3</span>
                </td>
                <td>
                    <span>5</span>
                </td>
                <td>
                    <span>R$ 983,00</span>
                </td>
                <td>
                    <span>R$ 1.983,00</span>
                </td>
            </tr>


            <!-- Exemplo 4 -->
            <tr style="cursor: pointer;" (click)="enviarPara('visualizar-empenho')">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <span>EMP-XXX-XX</span>
                </td>
                <td>
                    <span>Nome Fornecedor 4</span>
                </td>
                <td>
                    <span>2</span>
                </td>
                <td>
                    <span>R$ 5.000,00</span>
                </td>
                <td>
                    <span>R$ 15.000,00</span>
                </td>
            </tr>
    </table>

</body>
