<body class="listagem">
  <div class="container-titulo">
    <h3><i class="bi bi-card-list"></i> GÊNEROS ALIMENTÍCIOS</h3>
    <hr>
  </div>
  <app-barra-pesquisa></app-barra-pesquisa>

  <table class="tabela">
    <thead>
      <tr>
        <th scope="col">CATMAT</th>
        <th scope="col">Categoria</th>
        <th scope="col">Unidades de Medida</th>
        <th scope="col">Marca</th>
        <th scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody>

         <!-- Exemplo 1 -->
            <tr style="cursor: pointer;" [routerLink]="['/visualizar-gen-alimenticio']">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td >
                    <div class="teste">
                        <p>606523</p>
                        <small>CADASTRADO: 22/07/2025</small>
                    </div>
                </td>
                <td>
                    <p>BEBIDAS E COMPLEMENTOS</p>
                </td>
                <td><p>Gramas(g)</p></td>
                <td ><p>DISTRIBUIDORA LTDA...</p></td>
                <td ><p class="descricao">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci neque nesciunt sunt doloribus recusandae! Quidem corrupti dolor odio cupiditate voluptates! Error dolorum dolorem reiciendis quod, soluta impedit voluptate commodi velit.</p></td>
    </tbody>
  </table>
</body>
