<body class="listagem">
  <div class="container-titulo">
    <h3>GÊNEROS ALIMENTÍCIOS</h3>
    <hr>
  </div>
  <app-barra-pesquisa></app-barra-pesquisa>

  <table class="tabela">
    <thead>
      <tr>
        <th scope="col">CATMAT</th>
        <th scope="col">Categoria</th>
        <th scope="col">Unidades de Medida</th>
        <th scope="col">Marca</th>
        <th scope="col">Descrição</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>      

         <!-- Exemplo 1 -->
            <tr style="cursor: pointer;">
                <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                <td>
                    <div>
                        <p>606523</p>
                        <small>cadastrado: xx/xx/xxxxx</small>
                    </div>
                </td>
                <td>
                    <p>BEBIDAS E COMPLEMENTOS</p>
                </td>
                <td><p>(g)</p></td>
                <td><p>DISTRIBUIDORA LTDA...</p></td>
                <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></td>
    </tbody>
  </table>

</body>