<body>

  <app-botao-voltar></app-botao-voltar>

    <div class="container-visualizar-ata">

        <div class="cabecalho-arp">
            <div>
                <span >
                    <i class="bi bi-file-earmark-text"></i> {{ ata.numero_ata }}
                </span>
            </div>
            <button> <i class="bi bi-download"></i> Exportar</button>
        </div>

        <hr>

        <div class="container-cards">

            <div class="card-licitacao cards"
                (click)="enviarPara('/visualizar-licitacao', ata.licitacao.id)">
                <h5 >Licitação</h5>
                <span >
                    <i class="bi bi-link-45deg"></i> {{ ata.licitacao.numero_licitacao }}
                </span>
            </div>

            <div class="card-validade cards">
                <h5>Validade</h5>
                <span class="meses">{{ ata.licitacao.validade }} Meses</span>

                <div [class]="classValidade(ata)">
                    <span >{{ validade }}</span>
                </div>
            </div>

            <div class="card-valor-total cards">
                <h5 >Valor Total</h5>
                <span >R$ {{ ata.ata_saldo_total }}</span>

            </div>

            <div class="card-utilizado cards">
                <h5 >Utilizado</h5>
                <span >

                    R$ {{ empenho.saldo_utilizado }}
                </span>
            </div>
        </div>

        <hr>

        <div class="informacoes">
            <div>
                <h5>INFORMAÇÕES DO FORNECEDOR</h5>
                <p><b>Razão Social: {{ ata.fornecedor.razao_social }}</b></p>
                <p><b>Nome Fantasia: {{ ata.fornecedor.nome_fantasia }}</b></p>
                <p><b>CNPJ: {{ ata.fornecedor.cnpj }}</b></p>
                <p><b>Telefone: {{ ata.fornecedor.telefone }}</b></p>
            </div>

            <div class="card-empenho"
                (click)="enviarPara('/visualizar-empenho')">
                <h4 >
                    Empenho
                </h4>
                <span >
                    <i class="bi bi-link-45deg" ></i> {{ empenho.codigo }}
                </span>
            </div>
        </div>

        <div class="container-tabela">
            <h4>Generos Alimenticios</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" >Item</th>
                        <th scope="col" >Quantidade Licitada</th>

                        <th scope="col" >
                            <div>
                                <p style="margin: 0;">Quantidade em Ata</p>
                                <span >(Disponivel)</span>

                            </div>
                        </th>
                        <th scope="col" >Valor Unitario</th>
                        <th scope="col" >Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Exemplo 1 -->
                    @for (item of itens; track $index) {
                    <tr>
                        <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                        <td>
                            <span>{{ item.item_ata.item_generico.descricao }}</span>
                        </td>
                        <td>
                            <span>{{ item.item_ata.quantidade_licitada }} {{ item.item_ata.item_generico.unidade_medida }}</span>
                        </td>
                        <td>
                            <span>{{ item.item_ata.quantidade_licitada - item.quantidade_atual | number:'1.2-2' }} {{ item.item_ata.item_generico.unidade_medida }}</span>
                        </td>
                        <td>
                            <span>R$ {{ item.item_ata.valor_unitario }}</span>
                        </td>
                        <td>
                            <span>R$ {{ item.item_ata.quantidade_licitada * item.item_ata.valor_unitario | number:'1.2-2' }}</span>
                        </td>
                    </tr>
                    }
            </table>
        </div>

    </div>

</body>
