<body>

    <div>
        <button routerLink="/visualizar-atas"><i class="bi bi-arrow-left"></i> VISUALIZAR LISTAGEM DE
            ARP’s</button>
    </div>

    <div>

        <div style="display: flex; align-items: center; gap: 10px;">
            <!-- Alinhamento horizontal e espaçamento entre os elementos temporariamente -->
            <div>
                <span style="font-size: 1.8em;"> <!--Tamanho definido temporariamente -->
                    <i class="bi bi-file-earmark-text"></i> {{ ata.numero_ata }}
                </span>
            </div>
            <button> <i class="bi bi-download"></i> Exportar</button>
        </div>

        <hr>

        <div style="display: flex; gap: 1.5em;">
            <!-- Alinhamento horizontal e espaçamento entre os elementos temporariamente -->

            <div style="background-color: rgb(218, 230, 255); cursor: pointer;"
                (click)="enviarPara('/visualizar-licitacao', ata.licitacao.id)">
                <h5 style="color: rgb(0, 72, 255);">Licitação</h5> <!-- Cor definida temporariamente -->
                <span style="font-size: 0.9em; color: rgb(122, 143, 255);">
                    <!--Tamanho e cor definidos temporariamente -->
                    <i class="bi bi-link-45deg"></i> {{ ata.licitacao.numero_licitacao }}
                </span>
            </div>

            <div>
                <h5>Validade</h5>
                <span style="font-size: 0.9em;">{{ ata.licitacao.validade }} Meses</span>
                <!--Tamanho definido temporariamente -->
                <div style="background-color: rgb(255, 168, 168);"> <!-- Cor definida temporariamente -->
                    <span style="color: rgb(194, 5, 5);">expirado</span> <!-- Cor definida temporariamente -->
                </div>
            </div>

            <div style="background-color: rgb(211, 253, 244);"> <!-- Cor definida temporariamente -->
                <h5 style="color: rgb(10, 63, 11)">Valor Total</h5> <!-- Cor definida temporariamente -->
                <span style="font-size: 0.9em; color: rgb(57, 134, 15)">R$ {{ ata.ata_saldo_total }}</span>
                <!--Tamanho definido temporariamente -->
            </div>

            <div style="background-color: rgb(249, 214, 215);"> <!-- Cor definida temporariamente -->
                <h5 style="color: rgb(72, 18, 19);">Utilizado</h5> <!-- Cor definida temporariamente -->
                <span style="font-size: 0.9em; color: rgb(159, 11, 11);">
                    <!-- Tamanho e cor definidos temporariamente -->
                    R$ {{ empenho.saldo_utilizado }}
                </span>
            </div>
        </div>

        <hr>

        <div style="display: flex; gap: 1.5em;">
            <div>
                <h5>INFORMAÇÕES DO FORNECEDOR</h5>
                <p>Razão Social: {{ ata.fornecedor.razao_social }}</p>
                <p>Nome Fantasia: {{ ata.fornecedor.nome_fantasia }}</p>
                <p>CNPJ: {{ ata.fornecedor.cnpj }}</p>
                <p>Telefone: {{ ata.fornecedor.telefone }}</p>
            </div>

            <div style="background-color: rgb(19, 47, 108); width: 15em; cursor: pointer;"
                (click)="enviarPara('/visualizar-empenho')">
                <!-- Cor e largura definidos temporariamente -->

                <h4 style="color: white; font-size: 2em;"> <!-- Cor e tamanho definidos temporariamente -->
                    Empenho
                </h4>

                <span style="font-size: 1.3em; color: rgb(123, 140, 223);">
                    <!--Tamanho e cor definidos temporariamente -->
                    <i class="bi bi-link-45deg" style="font-size: 1.5em;"></i> {{ empenho.codigo }}
                    <!--Tamanho definido temporariamente -->
                </span>
            </div>
        </div>

        <div>
            <h4>Generos Alimenticios</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="vertical-align: top;">Item</th>
                        <!-- Alinhamento vertical definido temporariamente -->
                        <th scope="col" style="vertical-align: top;">Quantidade Licitada</th>
                        <!-- Alinhamento vertical definido temporariamente -->
                        <th scope="col" style="vertical-align: top;">
                            <div>
                                <p style="margin: 0;">Quantidade em Ata</p> <!-- Margem definida temporariamente -->
                                <span style="font-size: 0.9em; margin: 0;">(Disponivel)</span>
                                <!-- Tamanho e margem definidos temporariamente -->
                            </div>
                        </th>
                        <th scope="col" style="vertical-align: top;">Valor Unitario</th>
                        <th scope="col" style="vertical-align: top;">Valor Total</th>

                        <!-- Alinhamento vertical definido temporariamente -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Exemplo 1 -->
                    @for (item of itens; track $index) {
                    <tr>
                        <!-- Modificando o cursor temporariamente (Remover quando tiver classe apropriada) -->
                        <td>
                            <span>{{ item.item_ata.item_generico.descricao }}</span>
                        </td>
                        <td>
                            <span>{{ item.item_ata.quantidade_licitada }} KG</span>
                        </td>
                        <td>
                            <span>{{ item.quantidade_atual }} KG</span>
                        </td>
                        <td>
                            <span>R$ {{ item.item_ata.valor_unitario }}</span>
                        </td>
                        <td>
                            <span>R$ {{ item.item_ata.quantidade_licitada * item.item_ata.valor_unitario | number:'1.2-2' }}</span>
                        </td>
                    </tr>
                    }
            </table>
        </div>

    </div>

</body>